# -------------------------------
# Python Bytecode and Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
env/
*.env
.env.*.local

# Build and Distribution
*.egg-info/
*.egg
*.whl
dist/

# Testing and Coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/

# PyInstaller
*.spec

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs and Debug Files
*.log
logs/
*.tmp
debug.log
seigr_hypha_crypt.log
*.swp

# System Files
.DS_Store
Thumbs.db

# IDE/Editor Configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Project-Specific Folders
uploads/
encoded_files/
decoded_files/
project_tree.txt
tree.txt

# Temporary Documentation Files
docs/_build/
docs/_static/

# Shell Scripts (temporary)
*.sh

# Protobuf and External Dependencies
src/protobuf-29.2/
third_party/

# Ruff linting output files
ruff_e501_output.txt
ruff_output.txt

# Internal consolidated proto file
consolidated_protos.proto
!seigr-os/meta-seigr/
!seigr-os/build/
!build/conf/
!seigr-os/build/conf/bblayers.conf